@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-cream-50 text-gray-900;
  }
}

@layer utilities {
  .bg-cream-50 {
    background-color: #FEFBF3;
  }
}

